In [ ]:
import sys
import os

parent_dir = os.path.abspath(os.path.join(os.getcwd(), '..'))
sys.path.append(parent_dir)

from db import connection_string

%reload_ext sql
%sql {connection_string}

In [13]:
%sql show tables;

 * mysql+pymysql://root:***@localhost:3306/lab
1 rows affected.

[('people',)]