In [12]:
from db import connection_string

%reload_ext sql
%sql {connection_string}

In [13]:
%sql show tables;

 * mysql+pymysql://root:***@localhost:3306/lab
1 rows affected.

[('people',)]