In [1]:
import sys
import os

parent_dir = os.path.abspath(os.path.join(os.getcwd(), '..'))
sys.path.append(parent_dir)

from db import connection_string

%reload_ext sql
%sql {connection_string}

### Creating and Populating Table

In [10]:
%%sql
CREATE TABLE Clients (ClientID VARCHAR(10) primary key, FullName VARCHAR(100), ContactNumber INT, AddressID INT); 
  
CREATE TABLE Products (ProductID VARCHAR(10) primary key, ProductName VARCHAR(100), BuyPrice DECIMAL(6,2), SellPrice DECIMAL(6,2), NumberOfItems INT);  
  
Create table Addresses(AddressID INT PRIMARY KEY, Street VARCHAR(255), County VARCHAR(100)); 
  
CREATE TABLE Employees (EmployeeID INT primary key, FullName VARCHAR(100), JobTitle VARCHAR(50), Department VARCHAR(200), AddressID INT);  
  
CREATE TABLE Activity( ActivityID INT PRIMARY KEY, Properties JSON ); 
  
CREATE TABLE Audit(AuditID INT AUTO_INCREMENT PRIMARY KEY, OrderDateTime TIMESTAMP NOT NULL  );  
  
CREATE TABLE Orders (OrderID INT NOT NULL PRIMARY KEY,  
ClientID VARCHAR(10), ProductID VARCHAR(10), Quantity INT, Cost DECIMAL(6,2), Date DATE,  
FOREIGN KEY (ClientID) REFERENCES Clients(ClientID), 
FOREIGN KEY (ProductID) REFERENCES Products(ProductID)); 
  
CREATE TABLE Notifications (NotificationID INT AUTO_INCREMENT PRIMARY KEY, Notification VARCHAR(256), DateTime TIMESTAMP NOT NULL); 

INSERT INTO Employees (EmployeeID, FullName, JobTitle, Department, AddressID) VALUES    
(1, "Seamus Hogan", "Manager", "Management", 7),    
(2, "Thomas Eriksson", "Assistant ", "Sales", 8),   
(3, "Simon Tolo", "Head Chef", "Management", 9),   
(4, "Francesca Soffia", "Assistant  ", "Human Resources", 10),   
(5, "Emily Sierra", "Accountant", "Finance", 11),    
(6, "Greta Galkina", "Accountant", "Finance", 12);

INSERT INTO Activity(ActivityID, Properties) VALUES   
(1, '{ "ClientID": "Cl1", "ProductID": "P1", "Order": "True" }' ),   
(2, '{ "ClientID": "Cl2", "ProductID": "P4", "Order": "False" }' ),   
(3, '{ "ClientID": "Cl5", "ProductID": "P5", "Order": "True" }' ); 

INSERT INTO Clients(ClientID, FullName, ContactNumber, AddressID) VALUES   
("Cl1", "Takashi Ito", 351786345, 1),   
("Cl2", "Jane Murphy", 351567243, 2),   
("Cl3", "Laurina Delgado", 351342597, 3),   
("Cl4", "Benjamin Clauss", 351342509, 4),   
("Cl5", "Altay Ayhan", 351208983, 5),   
("Cl6", "Greta Galkina", 351298755, 6);     

INSERT INTO Products (ProductID, ProductName, BuyPrice, SellPrice, NumberOfITems) VALUES   
("P1", "Artificial grass bags ", 40, 50, 100),   
("P2", "Wood panels", 15, 20, 250),   
("P3", "Patio slates", 35, 40, 60),   
("P4", "Sycamore trees ", 7, 10, 50),   
("P5", "Trees and Shrubs", 35, 50, 75),   
("P6", "Water fountain", 65, 80, 15); 

INSERT INTO Addresses(AddressID, Street, County) VALUES   
(1, ",291 Oak Wood Avenue", "Graham County"),   
(2, "724 Greenway Drive", "Pinal County"),   
(3, "102 Sycamore Lane", "Santa Cruz County"),   
(4, "125 Roselawn Close", "Gila County"),   
(5, "831 Beechwood Terrace", "Cochise County"),  
(6, "755 Palm Tree Hills", "Mohave County"),   
(7, "751 Waterfall Hills", "Tuscon County") ,   
(8, "878 Riverside Lane", "Tuscon County") ,   
(9, "908 Seaview Hills", "Tuscon County"),   
(10, "243 Waterview Terrace", "Tuscon County"),   
(11, "148 Riverview Lane", "Tuscon County"),    
(12, "178 Seaview Avenue", "Tuscon County");

INSERT INTO Orders (OrderID, ClientID, ProductID , Quantity, Cost, Date) VALUES   
(1, "Cl1", "P1", 10, 500, "2020-09-01"),   
(2, "Cl2", "P2", 5, 100, "2020-09-05"),   
(3, "Cl3", "P3", 20, 800, "2020-09-03"),   
(4, "Cl4", "P4", 15, 150, "2020-09-07"),   
(5, "Cl3", "P3", 10, 450, "2020-09-08"),   
(6, "Cl2", "P2", 5, 800, "2020-09-09"),   
(7, "Cl1", "P4", 22, 1200, "2020-09-10"),   
(8, "Cl3", "P1", 15, 150, "2020-09-10"),   
(9, "Cl1", "P1", 10, 500, "2020-09-12"),   
(10, "Cl2", "P2", 5, 100, "2020-09-13"),   
(11, "Cl4", "P5", 5, 100, "2020-09-15"),  
(12, "Cl1", "P1", 10, 500, "2022-09-01"),   
(13, "Cl2", "P2", 5, 100, "2022-09-05"),   
(14, "Cl3", "P3", 20, 800, "2022-09-03"),   
(15, "Cl4", "P4", 15, 150, "2022-09-07"),   
(16, "Cl3", "P3", 10, 450, "2022-09-08"),   
(17, "Cl2", "P2", 5, 800, "2022-09-09"),   
(18, "Cl1", "P4", 22, 1200, "2022-09-10"),   
(19, "Cl3", "P1", 15, 150, "2022-09-10"),   
(20, "Cl1", "P1", 10, 500, "2022-09-12"),   
(21, "Cl2", "P2", 5, 100, "2022-09-13"),     
(22, "Cl2", "P1", 10, 500, "2021-09-01"),   
(23, "Cl2", "P2", 5, 100, "2021-09-05"),   
(24, "Cl3", "P3", 20, 800, "2021-09-03"),   
(25, "Cl4", "P4", 15, 150, "2021-09-07"),   
(26, "Cl1", "P3", 10, 450, "2021-09-08"),   
(27, "Cl2", "P1", 20, 1000, "2022-09-01"),   
(28, "Cl2", "P2", 10, 200, "2022-09-05"),   
(29, "Cl3", "P3", 20, 800, "2021-09-03"),   
(30, "Cl1", "P1", 10, 500, "2022-09-01" );

 * mysql+pymysql://root:***@localhost:3306/lucky_shrub
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
6 rows affected.
3 rows affected.
6 rows affected.
6 rows affected.
12 rows affected.
30 rows affected.

[]

### Tasks

1. Lucky Shrub need to find out what their average sale price, or cost was for a product in 2022.
2. Lucky Shrub need to evaluate the sales patterns for bags of artificial grass over the last three years.
3. Lucky Shrub need to automate the orders process in their database. The database must insert a new record of data in response to the insertion of a new order in the Orders table. This new record of data must contain a new ID and the current date and time.
4. Lucky Shrub need location data for their clients and employees.
5. Lucky Shrub need to find out what quantities of wood panels they are selling. The wood panels product has a Product ID of P2.
6. Lucky Shrub want to know more about the activities of the clients who use their online store. The system logs the ClientID and the ProductID information for each activity in a JSON Properties column inside the Activity table.
7. Lucky Shrub need to find out how much revenue their top selling product generated.
8. Lucky Shrub need a summary of their client's details, including their addresses, order details and the products they purchased.

### Solution

In [11]:
%%sql
show tables;

 * mysql+pymysql://root:***@localhost:3306/lucky_shrub
8 rows affected.

[('activity',),
 ('addresses',),
 ('audit',),
 ('clients',),
 ('employees',),
 ('notifications',),
 ('orders',),
 ('products',)]

#### Task 1:

In [ ]:
%%sql

CREATE FUNCTION FindAverageCost(year DECIMAL)
RETURNS DECIMAL(20, 2) DETERMINISTIC
BEGIN
    DECLARE result DECIMAL(20, 2);
    SET result = (SELECT ROUND(AVG(Cost), 2) FROM Orders WHERE YEAR(Date) = year);
    RETURN result;
END

In [44]:
%%sql
SELECT FindAverageCost(2022)

 * mysql+pymysql://root:***@localhost:3306/lucky_shrub
1 rows affected.

[(Decimal('496.15'),)]

#### Task 2:

In [ ]:
%%sql
CREATE PROCEDURE EvaluateProduct(IN product_id VARCHAR(50), OUT first_year INT, OUT second_year INT, OUT third_year INT)
BEGIN
    SELECT SUM(Quantity) INTO third_year FROM Orders WHERE ProductID = product_id AND YEAR(Date) = (SELECT MAX(Year) FROM (SELECT YEAR(Date) AS Year FROM Orders GROUP BY YEAR(Date) ORDER BY Year DESC) AS Years);
    SELECT SUM(Quantity) INTO second_year FROM Orders WHERE ProductID = product_id AND YEAR(Date) = (SELECT MIN(Year) FROM (SELECT YEAR(Date) AS Year FROM Orders GROUP BY YEAR(Date) ORDER BY Year DESC LIMIT 2) AS Years);
    SELECT SUM(Quantity) INTO first_year FROM Orders WHERE ProductID = product_id AND YEAR(Date) = (SELECT MIN(Year) FROM (SELECT YEAR(Date) AS Year FROM Orders GROUP BY YEAR(Date) ORDER BY Year DESC) AS Years);
END

In [ ]:
%%sql
CALL EvaluateProduct('P1', @sold_items_2020, @sold_items_2021, @sold_items_2022)

In [82]:
%%sql
SELECT @sold_items_2020, @sold_items_2021, @sold_items_2022;

 * mysql+pymysql://root:***@localhost:3306/lucky_shrub
1 rows affected.

[(35, 10, 65)]

#### Task 3:

In [2]:
%%sql

describe audit;

 * mysql+pymysql://root:***@localhost:3306/lucky_shrub
2 rows affected.

[('AuditID', 'int', 'NO', 'PRI', None, 'auto_increment'),
 ('OrderDateTime', 'timestamp', 'NO', '', None, '')]

In [ ]:
%%sql
CREATE TRIGGER UpdateAudit AFTER INSERT ON Orders FOR EACH ROW
BEGIN
    INSERT INTO Audit (OrderDateTime) VALUES (CURRENT_TIMESTAMP());
END

In [5]:
%%sql
INSERT INTO Orders (OrderID, ClientID, ProductID , Quantity, Cost, Date) VALUES   
(31, "Cl1", "P1", 10, 500, "2020-09-01" ),   
(32, "Cl2", "P2", 5, 100, "2020-09-05"),  
(33, "Cl3", "P3", 20, 800, "2020-09-03");

 * mysql+pymysql://root:***@localhost:3306/lucky_shrub
3 rows affected.

[]

In [6]:
%%sql
SELECT * FROM Audit;

 * mysql+pymysql://root:***@localhost:3306/lucky_shrub
3 rows affected.

[(1, datetime.datetime(2025, 10, 30, 10, 55, 40)),
 (2, datetime.datetime(2025, 10, 30, 10, 55, 40)),
 (3, datetime.datetime(2025, 10, 30, 10, 55, 40))]

#### Task 4

In [10]:
%%sql

SELECT * FROM Clients;

 * mysql+pymysql://root:***@localhost:3306/lucky_shrub
6 rows affected.

[('Cl1', 'Takashi Ito', 351786345, 1),
 ('Cl2', 'Jane Murphy', 351567243, 2),
 ('Cl3', 'Laurina Delgado', 351342597, 3),
 ('Cl4', 'Benjamin Clauss', 351342509, 4),
 ('Cl5', 'Altay Ayhan', 351208983, 5),
 ('Cl6', 'Greta Galkina', 351298755, 6)]

In [29]:
%%sql

SELECT c.FullName, a.Street, a.County
FROM Clients AS c JOIN Addresses AS a USING(AddressID)

 * mysql+pymysql://root:***@localhost:3306/lucky_shrub
6 rows affected.

[('Takashi Ito', ',291 Oak Wood Avenue', 'Graham County'),
 ('Jane Murphy', '724 Greenway Drive', 'Pinal County'),
 ('Laurina Delgado', '102 Sycamore Lane', 'Santa Cruz County'),
 ('Benjamin Clauss', '125 Roselawn Close', 'Gila County'),
 ('Altay Ayhan', '831 Beechwood Terrace', 'Cochise County'),
 ('Greta Galkina', '755 Palm Tree Hills', 'Mohave County')]

#### Task 5:

In [31]:
%%sql

WITH 
year_2020 AS (SELECT Cost FROM orders WHERE ProductID = 'P2' AND YEAR(Date) = 2020),
year_2021 AS (SELECT Cost FROM orders WHERE ProductID = 'P2' AND YEAR(Date) = 2021),
year_2022 AS (SELECT Cost FROM orders WHERE ProductID = 'P2' AND YEAR(Date) = 2022)
    SELECT CONCAT(SUM(Cost), " ", "(2020)") AS "Total sum of P2 Product" FROM year_2020
    UNION
    SELECT CONCAT(SUM(Cost), " ", "(2021)") AS "Total sum of P2 Product" FROM year_2021
    UNION
    SELECT CONCAT(SUM(Cost), " ", "(2022)") AS "Total sum of P2 Product" FROM year_2022;

 * mysql+pymysql://root:***@localhost:3306/lucky_shrub
3 rows affected.

[('1100.00 (2020)',), ('100.00 (2021)',), ('1200.00 (2022)',)]

#### Task 6:

In [36]:
%%sql

SELECT a.Properties->>'$.ClientID', a.Properties->>'$.ProductID', c.FullName, c.ContactNumber FROM Activity as a JOIN Clients as c ON a.Properties->>'$.ClientID' = c.ClientID;

 * mysql+pymysql://root:***@localhost:3306/lucky_shrub
3 rows affected.

[('Cl1', 'P1', 'Takashi Ito', 351786345),
 ('Cl2', 'P4', 'Jane Murphy', 351567243),
 ('Cl5', 'P5', 'Altay Ayhan', 351208983)]

#### Task 7:

In [48]:
%%sql

CREATE PROCEDURE GetProfit(IN product_id VARCHAR(10), IN year INT)
BEGIN
    SELECT SUM(Cost) FROM orders WHERE ProductID = product_id AND YEAR(Date) = year GROUP BY ProductID;
END

 * mysql+pymysql://root:***@localhost:3306/lucky_shrub
0 rows affected.

[]

In [54]:
%%sql

CALL GetProfit('P1', 2020)

 * mysql+pymysql://root:***@localhost:3306/lucky_shrub
1 rows affected.

[(Decimal('1650.00'),)]

#### Task 8:

In [ ]:
%%sql

CREATE VIEW DataSummary AS
    SELECT c.FullName, c.ContactNumber, a.County, p.ProductName, o.ProductID, o.Cost, o.Date FROM Clients AS c JOIN Orders AS o USING(ClientID) JOIN Addresses AS a USING (AddressID) JOIN Products AS p USING (ProductID) WHERE YEAR(Date) = 2022 ORDER BY Cost DESC;

In [61]:
%%sql

SELECT * FROM DataSummary;

 * mysql+pymysql://root:***@localhost:3306/lucky_shrub
13 rows affected.

[('Takashi Ito', 351786345, 'Graham County', 'Sycamore trees ', 'P4', Decimal('1200.00'), datetime.date(2022, 9, 10)),
 ('Jane Murphy', 351567243, 'Pinal County', 'Artificial grass bags ', 'P1', Decimal('1000.00'), datetime.date(2022, 9, 1)),
 ('Laurina Delgado', 351342597, 'Santa Cruz County', 'Patio slates', 'P3', Decimal('800.00'), datetime.date(2022, 9, 3)),
 ('Jane Murphy', 351567243, 'Pinal County', 'Wood panels', 'P2', Decimal('800.00'), datetime.date(2022, 9, 9)),
 ('Takashi Ito', 351786345, 'Graham County', 'Artificial grass bags ', 'P1', Decimal('500.00'), datetime.date(2022, 9, 1)),
 ('Takashi Ito', 351786345, 'Graham County', 'Artificial grass bags ', 'P1', Decimal('500.00'), datetime.date(2022, 9, 12)),
 ('Takashi Ito', 351786345, 'Graham County', 'Artificial grass bags ', 'P1', Decimal('500.00'), datetime.date(2022, 9, 1)),
 ('Laurina Delgado', 351342597, 'Santa Cruz County', 'Patio slates', 'P3', Decimal('450.00'), datetime.date(2022, 9, 8)),
 ('Jane Murphy', 351567243, 'Pinal County', 'Wood panels', 'P2', Decimal('200.00'), datetime.date(2022, 9, 5)),
 ('Benjamin Clauss', 351342509, 'Gila County', 'Sycamore trees ', 'P4', Decimal('150.00'), datetime.date(2022, 9, 7)),
 ('Laurina Delgado', 351342597, 'Santa Cruz County', 'Artificial grass bags ', 'P1', Decimal('150.00'), datetime.date(2022, 9, 10)),
 ('Jane Murphy', 351567243, 'Pinal County', 'Wood panels', 'P2', Decimal('100.00'), datetime.date(2022, 9, 5)),
 ('Jane Murphy', 351567243, 'Pinal County', 'Wood panels', 'P2', Decimal('100.00'), datetime.date(2022, 9, 13))]