In [17]:
import sys
import os

parent_dir = os.path.abspath(os.path.join(os.getcwd(), '..'))
sys.path.append(parent_dir)

from db import connection_string

%reload_ext sql
%sql {connection_string}

## Creating the tables

In [ ]:
%%sql
CREATE TABLE Clients (ClientID VARCHAR(10), FullName VARCHAR(100),  ContactNumber INT, AddressID INT);  

CREATE TABLE Orders (OrderID INT NOT NULL PRIMARY KEY, ClientID VARCHAR(10),  ProductID VARCHAR(10),  Quantity   INT, Cost DECIMAL(6,2), Date DATE); 

CREATE TABLE Products (ProductID VARCHAR(10), ProductName VARCHAR(100),  BuyPrice DECIMAL(6,2), SellPrice DECIMAL(6,2), NumberOfItems INT);    

CREATE TABLE Addresses(AddressID INT PRIMARY KEY, Street VARCHAR(255), County VARCHAR(100));

## Populating the tables

In [ ]:
%%sql
INSERT INTO Clients(ClientID, FullName, ContactNumber, AddressID) VALUES 
("Cl1", "Takashi Ito", 351786345, 1), 
("Cl2", "Jane Murphy", 351567243, 2), 
("Cl3", "Laurina Delgado", 351342597, 3), 
("Cl4", "Benjamin Clauss", 351342509, 4), 
("Cl5", "Altay Ayhan", 351208983, 5), 
("Cl6", "Greta Galkina", 351298755, 6);   

INSERT INTO Orders (OrderID, ClientID, ProductID , Quantity, Cost, Date) VALUES 
(1, "Cl1", "P1", 10, 500, "2020-09-01" ), 
(2, "Cl2", "P2", 5, 100, "2020-09-05"), 
(3, "Cl3", "P3", 20, 800, "2020-09-03"), 
(4, "Cl4", "P4", 15, 150, "2020-09-07"), 
(5, "Cl3", "P3", 10, 450, "2020-09-08"), 
(6, "Cl2", "P2", 5, 800, "2020-09-09"), 
(7, "Cl1", "P4", 22, 1200, "2020-09-10"), 
(8, "Cl3", "P1", 15, 150, "2020-09-10"), 
(9, "Cl1", "P1", 10, 500, "2020-09-12"), 
(10, "Cl2", "P2", 5, 100, "2020-09-13"), 
(11, "Cl4", "P5", 5, 100, "2020-09-15"),
(12, "Cl1", "P1", 10, 500, "2022-09-01"), 
(13, "Cl2", "P2", 5, 100, "2022-09-05"), 
(14, "Cl3", "P3", 20, 800, "2022-09-03"), 
(15, "Cl4", "P4", 15, 150, "2022-09-07"), 
(16, "Cl3", "P3", 10, 450, "2022-09-08"), 
(17, "Cl2", "P2", 5, 800, "2022-09-09"), 
(18, "Cl1", "P4", 22, 1200, "2022-09-10"), 
(19, "Cl3", "P1", 15, 150, "2022-09-10"), 
(20, "Cl1", "P1", 10, 500, "2022-09-12"), 
(21, "Cl2", "P2", 5, 100, "2022-09-13"),  
(22, "Cl2", "P1", 10, 500, "2021-09-01"), 
(23, "Cl2", "P2", 5, 100, "2021-09-05"), 
(24, "Cl3", "P3", 20, 800, "2021-09-03"), 
(25, "Cl4", "P4", 15, 150, "2021-09-07"), 
(26, "Cl1", "P3", 10, 450, "2021-09-08"), 
(27, "Cl2", "P1", 20, 1000, "2022-09-01"), 
(28, "Cl2", "P2", 10, 200, "2022-09-05"), 
(29, "Cl3", "P3", 20, 800, "2021-09-03"), 
(30, "Cl1", "P1", 10, 500, "2022-09-01"); 

INSERT INTO Products (ProductID, ProductName, BuyPrice, SellPrice, NumberOfItems) VALUES 
("P1", "Artificial grass bags ", 40, 50, 100), 
("P2", "Wood panels", 15, 20, 250), 
("P3", "Patio slates",  35, 40, 60), 
("P4", "Sycamore trees ", 7, 10, 50), 
("P5", "Trees and Shrubs", 35, 50, 75), 
("P6", "Water fountain", 65, 80, 15);   

INSERT INTO Addresses (AddressID, Street, County) VALUES 
(1, ",291 Oak Wood Avenue", "Graham County"), 
(2, "724 Greenway Drive", "Pinal County"), 
(3, "102 Sycamore Lane", "Santa Cruz County"), 
(4, "125 Roselawn Close", "Gila County"), 
(5, "831 Beechwood Terrace", "Cochise County"),
(6, "755 Palm Tree Hills", "Mohave County"), 
(7, "751 Waterfall Hills", "Tucson County") , 
(8, "878 Riverside Lane", "Tucson County") , 
(9, "908 Seaview Hills", "Tucson County"), 
(10, "243 Waterview Terrace", "Tucson County"), 
(11, "148 Riverview Lane", "Tucson County"),  
(12, "178 Seaview Avenue", "Tucson County");

## Task

1. Query data from multiple tables.
2. Analyze data to gain insight into Lucky Shrubâ€™s business performance.

## Solution

In [24]:
%%sql 
show tables;

 * mysql+pymysql://root:***@localhost:3306/lucky_shrub
4 rows affected.

[('addresses',), ('clients',), ('orders',), ('products',)]

In [ ]:
%%sql
WITH 
year_2020 AS (SELECT Quantity, Date FROM orders WHERE ProductID = 'P4' AND YEAR(Date) = 2020),
year_2021 AS (SELECT Quantity, Date FROM orders WHERE ProductID = 'P4' AND YEAR(Date) = 2021),
year_2022 AS (SELECT Quantity, Date FROM orders WHERE ProductID = 'P4' AND YEAR(Date) = 2022)
    SELECT CONCAT(SUM(Quantity), " ", "(2020)") AS "P4 product: Quantity sold" FROM year_2020
    UNION
    SELECT CONCAT(SUM(Quantity), " ", "(2021)") AS "P4 product: Quantity sold" FROM year_2021
    UNION
    SELECT CONCAT(SUM(Quantity), " ", "(2022)") AS "P4 product: Quantity sold" FROM year_2022;

 * mysql+pymysql://root:***@localhost:3306/lucky_shrub
3 rows affected.

[('37 (2020)',), ('15 (2021)',), ('37 (2022)',)]

In [75]:
%%sql
describe clients;

 * mysql+pymysql://root:***@localhost:3306/lucky_shrub
4 rows affected.

[('ClientID', 'varchar(10)', 'YES', '', None, ''),
 ('FullName', 'varchar(100)', 'YES', '', None, ''),
 ('ContactNumber', 'int', 'YES', '', None, ''),
 ('AddressID', 'int', 'YES', '', None, '')]

In [ ]:
%%sql
SELECT c.ClientID, c.ContactNumber, a.Street, a.County, o.OrderID, o.ProductID, p.ProductName, o.Cost, o.Date 
FROM Clients AS c JOIN Orders AS o JOIN Products AS p JOIN Addresses AS a 
ON o.ClientID = c.ClientID AND o.ProductID = p.ProductID AND c.AddressID = a.AddressID 
WHERE YEAR(o.Date) BETWEEN 2021 AND 2022 ORDER BY o.Date ASC;

 * mysql+pymysql://root:***@localhost:3306/lucky_shrub
19 rows affected.

[('Cl2', 351567243, '724 Greenway Drive', 'Pinal County', 22, 'P1', 'Artificial grass bags ', Decimal('500.00'), datetime.date(2021, 9, 1)),
 ('Cl3', 351342597, '102 Sycamore Lane', 'Santa Cruz County', 29, 'P3', 'Patio slates', Decimal('800.00'), datetime.date(2021, 9, 3)),
 ('Cl3', 351342597, '102 Sycamore Lane', 'Santa Cruz County', 24, 'P3', 'Patio slates', Decimal('800.00'), datetime.date(2021, 9, 3)),
 ('Cl2', 351567243, '724 Greenway Drive', 'Pinal County', 23, 'P2', 'Wood panels', Decimal('100.00'), datetime.date(2021, 9, 5)),
 ('Cl4', 351342509, '125 Roselawn Close', 'Gila County', 25, 'P4', 'Sycamore trees ', Decimal('150.00'), datetime.date(2021, 9, 7)),
 ('Cl1', 351786345, ',291 Oak Wood Avenue', 'Graham County', 26, 'P3', 'Patio slates', Decimal('450.00'), datetime.date(2021, 9, 8)),
 ('Cl1', 351786345, ',291 Oak Wood Avenue', 'Graham County', 30, 'P1', 'Artificial grass bags ', Decimal('500.00'), datetime.date(2022, 9, 1)),
 ('Cl2', 351567243, '724 Greenway Drive', 'Pinal County', 27, 'P1', 'Artificial grass bags ', Decimal('1000.00'), datetime.date(2022, 9, 1)),
 ('Cl1', 351786345, ',291 Oak Wood Avenue', 'Graham County', 12, 'P1', 'Artificial grass bags ', Decimal('500.00'), datetime.date(2022, 9, 1)),
 ('Cl3', 351342597, '102 Sycamore Lane', 'Santa Cruz County', 14, 'P3', 'Patio slates', Decimal('800.00'), datetime.date(2022, 9, 3)),
 ('Cl2', 351567243, '724 Greenway Drive', 'Pinal County', 28, 'P2', 'Wood panels', Decimal('200.00'), datetime.date(2022, 9, 5)),
 ('Cl2', 351567243, '724 Greenway Drive', 'Pinal County', 13, 'P2', 'Wood panels', Decimal('100.00'), datetime.date(2022, 9, 5)),
 ('Cl4', 351342509, '125 Roselawn Close', 'Gila County', 15, 'P4', 'Sycamore trees ', Decimal('150.00'), datetime.date(2022, 9, 7)),
 ('Cl3', 351342597, '102 Sycamore Lane', 'Santa Cruz County', 16, 'P3', 'Patio slates', Decimal('450.00'), datetime.date(2022, 9, 8)),
 ('Cl2', 351567243, '724 Greenway Drive', 'Pinal County', 17, 'P2', 'Wood panels', Decimal('800.00'), datetime.date(2022, 9, 9)),
 ('Cl3', 351342597, '102 Sycamore Lane', 'Santa Cruz County', 19, 'P1', 'Artificial grass bags ', Decimal('150.00'), datetime.date(2022, 9, 10)),
 ('Cl1', 351786345, ',291 Oak Wood Avenue', 'Graham County', 18, 'P4', 'Sycamore trees ', Decimal('1200.00'), datetime.date(2022, 9, 10)),
 ('Cl1', 351786345, ',291 Oak Wood Avenue', 'Graham County', 20, 'P1', 'Artificial grass bags ', Decimal('500.00'), datetime.date(2022, 9, 12)),
 ('Cl2', 351567243, '724 Greenway Drive', 'Pinal County', 21, 'P2', 'Wood panels', Decimal('100.00'), datetime.date(2022, 9, 13))]

In [ ]:
%%sql

CREATE FUNCTION FindSoldQuantity(id VARCHAR(10), year INT)
RETURNS INT DETERMINISTIC
BEGIN
    DECLARE result INT;
    SELECT SUM(Quantity) INTO result 
    FROM Orders 
    WHERE ProductID = id AND YEAR(Date) = year;
    RETURN result;
END

 * mysql+pymysql://root:***@localhost:3306/lucky_shrub
0 rows affected.

[]

In [101]:
%%sql
SELECT FindSoldQuantity("P3", 2021)

 * mysql+pymysql://root:***@localhost:3306/lucky_shrub
1 rows affected.

[(50,)]